@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins&display=swap');

/*Opciones por default*/
* {
    margin: 0;
 
}

/*Fin de opciones por default*/


/* Propiedades del  header*/
/* colocamos color del header */
header {
    background-color: #212529;
}

.nav .menu .lista a{
    font-family: 'Anton', sans-serif;
    color: white;
}

/* colocamos animacion cuando el cursor pase arriba del cualquier parte del navegador */
.nav .menu .lista a:hover{
    text-decoration: line-through;
    color: #b1181849;
}
/* si esta en la pestaña actual, ese link debe apareer bloqueado */
.nav .menu .lista .activo {
    text-decoration: line-through;
    color: #b1181849;
  }


/* cuando la pantalla es mas chica, disminuimos el tamaño del logo del header */

  @media only screen and (max-width: 767px){
    #logo {
        width: 60px;
        height: 40px;
    }
  }

  @media only screen and (min-width: 768px){
    #logo {
        width: 120px;
        height: 80px;
    }
  }
  



/*Propieedades del header*/


/*Propiedades del footer*/

.footer-basic {
    padding:40px 0;
    background-color:#ffffff;
    color:#4b4c4d;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }

  /* si pasamos arriba aumentara el colo de los links */
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }


/*Fin de propiedades el footer*/

/*Propiedades del main general*/


main div h2 {
    color:  white;
    font-family: 'Anton', sans-serif;
    display: flex;
    justify-content: center;
}

/*Fin de propiedades del main en general*/

/*Propiedades del main de galeria*/
.photo-gallery {
    color:#313437;
    background-color:#212529;
  }
  
  .photo-gallery p {
    color:#7d8285;
  }
  
  .photo-gallery h2 {
    font-weight:bold;
    margin-bottom:40px;
    padding-top:40px;
    color:whitesmoke;
  }
  
  /* cuando disminuye el tamaño de pantalla modificamos el margen, padding y tamaño de letra */
  @media (max-width:767px) {
    .photo-gallery h2 {
      margin-bottom:25px;
      padding-top:25px;
      font-size:24px;
    }
  }

.photo-gallery .intro {
    font-size:16px;
    max-width:500px;
    margin:0 auto 40px;
  }
  
  .photo-gallery .intro p {
    margin-bottom:0;
  }
  
  .photo-gallery .photos {
    padding-bottom:20px;
    
  }
  
  .photo-gallery .item {
    padding-bottom:30px;
    transition: 2s;
    
  }

  /* colocamos animación de crecimiento cada vez que pasemos arriba el cursor por las fotos  */

  .photo-gallery .item:hover {
    transform: scale(1.2);
  }

  /* bordeamos las imagenes para que no sean cuadradas totales */
  .img-fluid {
    border-radius: 6px;
  }

/*Fin Propiedades del main de galeria*/

/*Propiedades del main en servicios*/

.parent{
    position: relative;

 }
 .img{
   width: 100%;
   height: auto;
   opacity: 0.4;
   border-radius: 10px;
 }

 /* colocamos position en absolute para que el texto pueda estar arriba de la imagen */
 .top-left{
    position: absolute;
    left:20px;
    top:0;
    color: whitesmoke;
    flex-wrap: wrap;
 }

 .photo-gallery h3 {
    font-weight:bold;
    margin-bottom:10px;
    padding-top:10px;
    color:whitesmoke;
    font-family: 'Anton', sans-serif;;
  }

  .photo-gallery ul {
    margin-right: 10px;
    font-family: 'Anton', sans-serif;
    
  }

  /* modificamos el tamaño de letra cuando se tiene una pantalla como tableta debido a que las imagenes se desbordan */

  @media only screen and (min-width: 767px) and (max-width: 1200px){
    .photo-gallery ul li {

        font-size: 80%;
      }
  }

  .bottom-right{
    position: absolute;
    right:15px;
    bottom:10px;
 }

/* Fin Propiedades del main en servicios*/


/*Propiedades del main en index*/
main section h2 {
    color:  white;
    font-family: 'Anton', sans-serif;
    display: flex;
    justify-content: center;
}



.nosotros {
    margin: 5%;
}

.contacto-container {
    display: flex;
    justify-content: space-around;
}

/* .mapa2 {
    width: 20px;
    height: 10px;
} */

.inicio1-container{
    display: flex;
    justify-content: center;
}

.imagen-principal {
    width: 30%;
}

.inicio1 {
    display: flex;
    justify-content: space-between;
}

.inicio-total {
    display: flex;
}

/*Fin de propiedades del main en index*/