    main div {
        h2{
            color: whitesmoke;
            font-family: "Anton", sans-serif;
        };

        p {
            color: whitesmoke;
            font-size: large;
        }

        div{
            width: 100%;
            height: auto;
        }
    }

    .iconos {
        width: 50%;
    }

    .item2 {
        justify-content: center;
    }

    .letra {
        margin-top: 30px;
    }

    .resena {
        color: black;
    }
    