    main div {
        h2{
            color: whitesmoke;
            font-family: "Anton", sans-serif;
        };

        p {
            color: whitesmoke;
            font-size: large;
        }

        div{
            width: 100%;
            height: auto;
        }
    }
    