#nosotros {
    background-color: #212529;
    padding: 0;
    margin: 0;

    .container {
        h2{
            color: whitesmoke;
            font-family: "Anton", sans-serif;
        }


        div h3 {
            color: whitesmoke;
            font-family: "Anton", sans-serif;
        }

        div p{
            color: whitesmoke;
        }


    }

}