
.card{
    
    border:none;
}

.user-content p{
    margin-top:5px;
    font-size:12px;
}


.ratings i{
    color:blue;
}

.resenas{
    background-color:  #212529;

    h2{
        color: whitesmoke;
        font-family: "Anton", sans-serif;
    }
}