.parent {
    position: relative;
}

.img {
    width: 100%;
    height: auto;
    opacity: 0.4;
    border-radius: 10px;
}

.top-left {
    position: absolute;
    left: 20px;
    top: 0;
    color: whitesmoke;
    flex-wrap: wrap;
}

.bottom-right{
    position: absolute;
    right: 15px;
    bottom: 10px;
}